frontend and backend/backend/__pycache__/
frontend and backend/backend/project_env/

frontend and backend/medicine_price_tracker_frontend/node_modules/
frontend and backend/medicine_price_tracker_frontend/public/

